.container-fluid
  .row
    .col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href="#") 
              i.fa.fa-dashboard  Dashboard
          li 
            a(href="/settings") 
              i.fa.fa-wrench  Settings
